In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

data['profit'] = data.revenue - data.budget # создадим колонку profit

# 1. У какого фильма из списка самый большой бюджет?

In [6]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+

In [7]:
display(data[data.budget == data.budget.max()])
#выводим строку, в которой значение budget соответствует максимальному значению во всей колонке budget

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = 'Gods and Generals (tt0279111)' #+

In [9]:
display(data[data.runtime == data.runtime.max()])
#выводим строку, в которой значение runtime соответствует максимальному значению во всей колонке runtime

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)' #+

In [11]:
display(data[data.runtime == data.runtime.min()])
#выводим строку, в которой значение runtime соответствует минимальному значению во всей колонке runtime

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110' #+

In [13]:
display(round(data.runtime.mean()))
#выводим среднее значение колонки runtime и округляем его

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107' #+

In [15]:
display(round(data.runtime.median()))
#используя median(), получаем медианное значение по колонке runtime и округляем его, получая целое число

107

# 6. Какой самый прибыльный фильм?

In [16]:
answers['6'] = 'Avatar (tt0499549)' #+

In [17]:
display(data[data.profit == data.profit.max()])
#выводим строку, в которой значение profit соответствует максимальному значению во всей колонке profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)' #+

In [19]:
display(data[data.profit == data.profit.min()])
#выводим строку, в которой значение profit соответствует минимальному значению во всей колонке profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478' #+

In [21]:
display(len(data[data.revenue > data.budget]))
#выводим количество фильмов из датасета, где revenue(сборы) > budget(бюджет)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)' #+

In [23]:
data09 = data[data.release_year == 2008] #создаем датасет из фильмов, которые вышли в 2008

display(data09[data09.revenue == data09.revenue.max()])
#далее ввыводим строку из нового датасета, в которой максимальные сборы из колонки revenue

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)' #+

In [25]:
data10 = data[(data.release_year >= 2012) & (data.release_year <= 2014)] 
#создаем датасет из фильмов, которые вышли с 2012 по 2014

display(data10[data10.profit == data10.profit.min()])
#далее выводим строку из нового датасета, в которой минимальный profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama' #+

In [27]:
data11 = data.copy()

data11.genres = data.genres.str.split('|') 
# в позициях с несколькими жанрами убираем разделитель |

data = data.explode('genres') 
# вместо полученных в предыдущем шаге списков жанров для каждого фильма,
# хотим получить колонку, в которой будет упомянут лишь один жанр для каждого фильма
# для этого используем df.explode()

s = data.genres.value_counts() 
# подсчитываем количество упоминания каждого жанра в колонке и записываем в серию s

display(s.index[0])

'Comedy'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['12'] = 'Drama' #+

In [29]:
data12 = data[data.profit > 0].genres.str.split('|').explode('genres').value_counts()
# отбираем фильмы с прибылью > 0, разбиваем жанры
# далее считаем количество прибыльных в каждом жанре

display(data12.index[0])

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
answers['13'] = 'Peter Jackson' #+

In [31]:
grouped1 = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
# группируем данные по режиссерам и кассовым сборам, сортируем по сумме сборов по убыванию

display(grouped1.index[0])

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = 'Robert Rodriguez' #+

In [33]:
data14 = data[data.genres.str.contains('Action')].director.str.split('|').explode('director').mode()
# отбираем фильмы, жанр которых соответствует Action
# далее используем explode() для колонки режиссеров после преобразования строк (удаления разделителя |) в списки
# применяем метод mode() для поиска режиссера, встречающего чаще всего по нашим параметрам

display(data14[0])

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
answers['15'] = 'Chris Hemsworth' #+

In [35]:
data15 = data[data.release_year == 2012].copy()
# для начала отбираем фильмы с годом выпуска 2012

data15.cast = data15.cast.str.split('|')
data15 = data15.explode('cast')
# разбиваем колонку cast по актерам

data151 = data15.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
# группируем данные по актерам и сумме прибыли по актеру по убыванию

display(data151.index[0])

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
answers['16'] = 'Matt Damon' #+

In [37]:
data16 = data[data.budget > data.budget.mean()]
# берем фильмы с бюджетом выше среднего

data16 = data16.cast.str.split('|').explode('cast').mode()
# разбиваем колонку cast по актерам
# применяем метод mode() для поиска актера, встречающего чаще всего по нашим параметрам 

display(data16)

0    Matt Damon
dtype: object

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
answers['17'] = 'Action' #+

In [39]:
data17 = data[data.cast.str.match('Nicolas Cage')].genres.str.split('|').explode('genres').mode()
# берем данные, где в колонке каст встречается Nicolas Cage
# далее разбиваем датасет по жанрам и ищем наиболее часто встречающийся

display(data17[0])

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' #+

In [41]:
data18 = data.copy()

data18.production_companies = data18.production_companies.str.split('|')
data18 = data18.explode('production_companies')
# разбиваем датасет по студиям

data18 = data18[data18.production_companies == 'Paramount Pictures']
# отбираем фильмы от Paramount Pictures

display(data18[(data18.profit == data18.profit.min())])
# отображаем фильм с минимальным profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
answers['19'] = '2015' #+

In [43]:
data19 = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
# сортируем по убыванию revenue фильмы разных годов

display(data19.index[0])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
answers['20'] = '2014' #+

In [45]:
data20 = data.copy()

data20.production_companies = data20.production_companies.str.split('|')
data20 = data20.explode('production_companies')
# разбиваем датасет по студиям

data20 = data20[(data20.production_companies.str.contains('Warner Bros.'))]
# отбираем студии, содержащих Warner Bros. в названии

data20 = data20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
# сортируем по убыванию profit по разным годам

display(data20.index[0])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
answers['21'] = '9' #+

In [47]:
data21 = data.copy()

data21.release_date = pd.to_datetime(data21.release_date)
data21['release_month'] = data21.release_date.dt.month
# создаем колонку release_month, в которую с помощью dt.month сохраняем месяц выхода фильмы

data21 = data21.release_month.mode()
# ищем наиболее часто встречающееся значение

display(data21)

0    9
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
answers['22'] = '450' #+

In [49]:
data22 = data.copy()

data22.release_date = pd.to_datetime(data22.release_date)

display(len(data22[data22.release_date.dt.month.isin([6, 7, 8,])]))
# считаем длину датафрейма (суммарное количество фильмов), где месяц выхода - летний

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
answers['23'] = 'Peter Jackson' #+

In [51]:
data23 = data.copy()

data23.release_date = pd.to_datetime(data23.release_date)
data23['release_month'] = data23.release_date.dt.month
# создаем колонку с месяцем выхода фильмов

data23 = data23[data23.release_date.dt.month.isin([12, 1, 2,])]
# отбираем фильмы, вышедшие зимой

data23.director = data23.director.str.split('|')
data23 = data23.explode('director')
# разбиваем датасет по режиссерам

data23 = data23.director.mode()
# ищем наиболее часто встречающееся значение

display(data23)

0    Peter Jackson
dtype: object

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
answers['24'] = 'Four By Two Productions' #+

In [53]:
data24 = data.copy()

data24['title_length'] = data24['original_title'].str.split(' ').str.len()
# создаем новую колонку, куда записываем длину названия фильма по количеству слов

data24.production_companies = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')
# разбиваем датасет по студиям

data24 = data24.groupby(['production_companies'])['title_length'].mean().sort_values(ascending=False)
# сортируем по убыванию по средней длине названия и студиям

display(data24.index[0])

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
answers['25'] = 'Midnight Picture Show' #+

In [55]:
data25 = data.copy()

data25['overview_length'] = data25['overview'].str.split(' ').str.len()
# создаем новую колонку, куда записываем длину описания фильма по количеству слов

data25.production_companies = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
# разбиваем датасет по студиям

data25 = data25.groupby(['production_companies'])['overview_length'].mean().sort_values(ascending=False)
# сортируем по убыванию по средней длине описания и студиям

display(data25.index[0])

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+

In [57]:
data26 = data.copy()

data26 = data26[data26.vote_average > data26.vote_average.quantile(0.99)]
# отбираем фильмы, где средний балл выше, чем остальные 99% (находится на правом отрезке распределения)

display(data26)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
answers['27'] ='Daniel Radcliffe, Rupert Grint' #+

In [59]:
data27 = data.copy()

pairs = Counter()
# используем счетчик для подсчета пар

for i in range(0,len(data27)): # проходим весь датафрейм
    artists = data27.cast[i].split('|') # разделяем каст по актеру 
    for j in list(itertools.combinations(artists, 2)): # перебираем пары актеров
        if j not in pairs: 
            pairs[j] = 1 # при первой встрече пары ставим счетчик на 1
        else:
            pairs[j] += 1 # при последующих встречах этой же пары увеличиваем счетчик на 1
            
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [62]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [63]:
len(answers)

27